body {
    background-color: rgb(255, 255, 255);
}
.profileBlock {
    text-align: center;
    background-color: grey;
}
#header-picture {
    
}
#avatar-picture {
    margin-top: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.topnav{
    background-color: #333;
} 
.topnav a {
    float: left;
    color: #f2f2f2;
    text-decoration: none;
    font-size: 17px;
    margin: 20px;
}
  
.topnav a:hover {
    color: black;
}
  
.topnav a.active {
    background-color: #ffffff;
    color: white;
}
  
.topnav-social-media a {
    float: none;
    flex-direction: column;
    margin: 5px;
}
.topnav-social-media {
    display: flex;
    justify-content: center;
}
.topnav-right {
    margin-left: 10px;
    float: right;
}
#twitter {
    width:50px;
    height:40px;
}
#instagram {
    width:50px;
    height:40px;
}
#facebook {
    width:50px;
    height:40px;
}
.mainBlock {
    display: block;
}
.about-block {
    background-color: rgb(61, 61, 61);
    overflow-wrap: break-word;
    text-align: center;
    
}
#contact-info {
    position:relative;
    color: rgb(0, 0, 0);

}
p {
    color: white;
    font-size: larger;
}
dl {
    color: white;
}
h1 {
    font-size:xx-large;
}
#Password-Generator {
    position:relative;
    display:block;
    z-index:999;
    transition: all .2s ease-in-out; 
}
#Password-Generator:hover { 
    transform: scale(1.2); 
}
#commonTest {
    position:relative;
    display:block;
    z-index:999;
    transition: all .2s ease-in-out;
}
#commonTest:hover { 
    transform: scale(1.2); 
}
#coffeeProject {
    position:relative;
    display:block;
    z-index:999;
    transition: all .2s ease-in-out;
}
#coffeeProject:hover { 
    transform: scale(1.2); 
}
#weatherForcast {
    position: relative;
    display:block;
    z-index:999;
    transition: all .2s ease-in-out;
}
#weatherForcast:hover {
    transform: scale(1.2);
}
@media screen and (max-width: 600px) {
    .topnav-right {
        float: none;
        width: 100%;
        margin: 0px;
    }
    .topnav-social-media {
        justify-content:flex-start;
    }
    .topnav a {
        font-size: 12px;
        margin: 5px;
    }
}